.grid-section-uni {
  position: relative;
  opacity: 0;
  transform: translateX(-30px);
  min-height: 100svh;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 0.2fr 0.0015fr repeat(3, 1fr) 0.2fr;
  grid-template-rows: 0.5fr 1fr 0.3fr;
}

.title-unique {
  grid-row: 1/2;
  align-self: center;
  grid-column: 2 / span 3;
}
.img-cntr-main {
  grid-column: 1/-1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.uni-text {
  font: var(--font-body);
  color: #030605;
  font-size: 1.05rem;
  align-self: center;
  grid-row: 3/4;
  grid-column: 2/-2;
}

.horizontal-1-uni {
  position: absolute;
  bottom: 0;
  grid-column: 1/-2;
}
@media (max-width: 1024px) {
  .grid-section-uni {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .img-resize {
    margin: auto;
  }
}

@media (min-width: 0px) and (max-width: 1024px) {
  .title-unique {
    align-self: start;
    font-size: 3rem;
    line-height: 1.25;
    margin-bottom: 1.5rem;
  }

  .img-cntr-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .uni-text {
    padding: 1rem;
  }
}
