.section-footer {
  background: #f8fbfa;
  min-height: initial;
}

.headings {
  color: black;
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 147%;
  letter-spacing: 0.0225rem;
}
.links {
  color: #5c5e5e;
  font-family: var(--font-body);
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 266.5%;
  letter-spacing: 0.01875rem;
}

.div-1-foot {
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.div-2-foot {
  grid-column: 2 / -2;
  display: flex;
  justify-content: space-between;
}
.elmnt-1-work {
  grid-column: 5/6;
}

@media (min-width: 475px) and (max-width: 1024px) {
  .main-text {
    font-size: 3rem;
    line-height: normal;
  }

  .sentence {
    font-size: 1.25rem;
  }
}

@media (max-width: 1024px) {
  .div-1-foot {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .div-2-foot {
    flex-direction: column;
    padding: 1rem;
  }
}
