.sentence {
  line-height: 2.12rem;
  min-height: calc(1.5rem * 3);
}
.short-line {
  grid-column: 2;
  grid-row: 4;
  z-index: 10;
}

.long-line-1 {
  position: absolute;
  height: 100svh;
  left: calc((100% / 16) * 2); /* column 8 = index 7 */
  z-index: 20;
}
.long-line-2 {
  position: absolute;
  height: 100svh;
  left: calc((100% / 16) * 5); /* column 8 = index 7 */
  z-index: 20;
}

.horizontal-1 {
  position: absolute;
  top: calc((100% / 16) * 16);
  left: calc((100% / 16) * 5); /* column 8 = index 7 */
  z-index: 20;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.main-text {
  font-family: var(--font-heading);
  grid-column: 3 / span 13;
  grid-row: 6;
}
.sentence {
  font-family: var(--font-body);
  grid-column: 3 / span 7;
  grid-row: 8;
  color: #030605;
  font-size: 1.25rem;
  font-weight: 500;
}
.explore-btn {
  display: flex;
  gap: 1rem;
  grid-column: 7 /11;
  grid-row: 13;
  width: fit-content;
}
