.grid-section-hero {
  min-height: 100svh;
  grid-column: 1/-1;
  grid-row: 1;
  display: grid;
  grid-template-columns: subgrid;
}
.div-1 {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: subgrid;
}
.div-2 {
  z-index: 100;
  grid-column: 5 / -1;
  grid-row: 1;
}

.main-text {
  font-family: var(--font-heading);
  grid-column: 3 / span 3;
  grid-row: 3;
  z-index: 200;
  /* animation: fadeIn 2.5s linear normal; */
}

.sentence {
  font-family: var(--font-body);
  grid-column: 3 / span 1;
  grid-row: 5;
  color: #030605;
  font-size: 1.25rem;
  font-weight: 500;
  /* animation: fadeIn 2.5s linear normal; */
}
.explore-btn {
  display: flex;
  gap: 1rem;
  grid-column: 7 /11;
  grid-row: 11/12;
  max-height: 4rem;
  align-items: center;
  width: fit-content;
}

/* Line styling */

.short-line {
  margin-top: 3rem;
  grid-column: 1 / 2;
  grid-row: 2;
  justify-self: center;
}

.long-line-0 {
  min-height: 100svh;
  position: absolute;
  grid-row: 1;
  grid-column: 2;
  top: 0;
  left: 0;
}

.long-line-1 {
  height: 100svh;
  position: absolute;
  grid-row: 1;
  grid-column: 3;
  top: 0;
  left: 16.875rem;
}

.long-line-2 {
  min-height: 100svh;
  position: absolute;
  grid-column: -1 / -2;
  grid-row: 1;
  top: 0;
  left: 0;
  justify-self: center;
}

.horizontal-1 {
  position: absolute;
  bottom: 0;
  left: calc((100% / 16) * 3); /* column 8 = index 7 */
  z-index: 20;
}

@media (max-width: 1024px) {
  .container-grid {
    grid-template-columns: 0.2fr 1fr 1fr 1fr; /* 1 column on small screens */
  }
}

@media (min-width: 0px) and (max-width: 1024px) {
  .short-line,
  .long-line-0,
  .long-line-1,
  .long-line-2,
  .div-2 {
    display: none;
  }
  .main-text {
    grid-column: 2 / 4;
    grid-row: 3;
    font-size: 3.25rem;
    line-height: normal;
  }

  .sentence {
    grid-column: 2 / 4;
    grid-row: 4;
    font-size: 1rem;
    line-height: 1.5;
  }
  .explore-btn {
    grid-column: 2 /4;
    grid-row: 5/6;
  }
}

@media (min-width: 475px) and (max-width: 1024px) {
  .main-text {
    font-size: 3rem;
    line-height: normal;
  }

  .sentence {
    font-size: 1.25rem;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .main-text {
    font-size: 4rem;
    line-height: normal;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .main-text {
    font-size: 5rem;
    line-height: normal;
  }
}
