.grid-section-hero {
  min-height: 100svh;
  grid-column: 1/-1;
  grid-row: 1;
  display: grid;
  grid-template-columns: subgrid;
}
.div-1 {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: subgrid;
}
.div-2 {
  z-index: 100;
  grid-column: 5 / -1;
  grid-row: 1;
}

.main-text {
  font-family: var(--font-heading);
  grid-column: 3 / span 3;
  grid-row: 3;
  z-index: 200;
}

.sentence {
  font-family: var(--font-body);
  grid-column: 3 / span 1;
  grid-row: 5;
  color: #030605;
  font-size: 1.25rem;
  font-weight: 500;
}
.explore-btn {
  display: flex;
  gap: 1rem;
  grid-column: 7 /11;
  grid-row: 11/12;
  width: fit-content;
}

/* Line styling */

.short-line {
  margin-top: 3rem;
  grid-column: 1 / 2;
  grid-row: 2;
  justify-self: center;
}

.long-line-0 {
  min-height: 100svh;
  position: absolute;
  grid-row: 1;
  grid-column: 2;
  top: 0;
  left: 0;
}

.long-line-1 {
  height: 100svh;
  position: absolute;
  grid-row: 1;
  grid-column: 3;
  top: 0;
  left: 16.875rem;
}

.long-line-2 {
  min-height: 100svh;
  position: absolute;
  grid-column: -1 / -2;
  grid-row: 1;
  top: 0;
  left: 0;
  justify-self: center;
}

.horizontal-1 {
  position: absolute;
  top: calc((100% / 16) * 16);
  left: calc((100% / 16) * 3); /* column 8 = index 7 */
  z-index: 20;
}
