.grid-section-exp {
  min-height: 100svh;
  grid-column: 1/-1;
  grid-row: 2;
  display: grid;
  grid-template-columns: subgrid;
}

.section-1 {
  grid-row: 1;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;
  height: min-content;
}

.section-2 {
  /* display: none; */
  grid-column: 1/-1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 0.2fr 0.0015fr 1fr 0.5fr repeat(4, 1fr) 0.2fr;
}

.image-1 {
  grid-column: 3 / 4;
  position: relative;
  bottom: 20%;
  z-index: 30;
}

.image-2 {
  grid-column: 4;
  /* position: absolute; */
  /* grid-column: 3; */
  /* left: 20rem; */
  /* display: none; */
}

.experience-text {
  margin: auto;
  gap: 3rem;
  grid-column: 5 / auto;
}

.bottom-section {
  grid-row: 4 / auto;
}
.scroll {
  grid-column: 1 / 4;
  justify-self: center;
}

.nightstand-img {
  grid-column: 4/5;
  /* width: 30%;
  height: auto; */
}
.arrow-right {
  margin: auto;
  grid-column: 5/7;
}
.email-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-column: 7 / -2;
  width: 100%;
}

.horizontal-1-exp {
  position: absolute;
  grid-column: 1/-2;
  grid-row: 3;
  z-index: 20;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .image-1 {
    grid-column: 2 / 3;
    bottom: 0;
  }

  .image-2 {
    grid-column: 3/4;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .image-1,
  .image-2,
  .nightstand-img,
  .arrow-right,
  .scroll {
    display: none;
  }
  .grid-section-exp {
    min-height: fit-content;
    grid-auto-rows: 175px;
  }
  .experience-text,
  .email-form {
    grid-column: 2 / -1;
  }
}
